body {
  background-color: black;
  color: white;
  overflow: hidden;
}

.boards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.board1, .board2 {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5vw;
}

.row {
  display: flex;
}

.cell {
  width: 3vw;
  height: 6vh;
  text-align: center;
  border: 1px solid #ddd;
  margin: 0;
  font-size: 2vw;
  transition: background-color 0.5s;
  background-color: #FFEE8C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:hover {
  background-color: #ADDFFF;
}
.cell.edited {
  color: red;
}

/* Add bold borders for every 3rd row and column */
.cell:nth-child(3n+1) {
  border-left: 4px solid #fff;
}

.cell:nth-child(3n) {
  border-right: 4px solid #fff;
}

.row:nth-child(3n+1) .cell {
  border-bottom: 3px solid #fff;
}
.row:nth-child(3n+2) .cell {
  border-top: 4px solid #fff;
}
.solved-cell {
  width: 3vw;
  height: 6.2vh;
  background-color: #FFEE8C;
  color: black;
  border: 1px solid #ddd;
}

.my-button:hover {
  box-shadow: 0 0 20px rgba(255, 238, 140, 0.7), 0 0 30px rgba(255, 238, 140, 0.7), 0 0 40px rgba(255, 238, 140, 0.7), 0 0 50px rgba(255, 238, 140, 0.7);
}
.my-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: box-shadow 0.5s;
}

.my-button:hover {
  background-color: #0056b3;
}